

h2 {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }

  .form-container {
    margin: 15px 15px 15px 15px;
  }

.form-row {
    display: flex;
    margin-bottom: 12px;
  }

  .form-row label {
    width: 180px;
    margin-right: 20px;
    font-weight: bold;
  }
  

  .form-row input, 
  .form-row select,  .rich-text-editor {
    flex: 1;
    padding: 6px;
    font-size: 14px;
  }

  .rich-text-editor textarea {
    width: 100%;
    height: 100%;
  }

 
  .radio-group, .checkbox-group, .human {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .captcha-change {
    text-align: center;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end; /* Đẩy nút sang phải */
    gap: 10px; /* Khoảng cách giữa 2 nút */
    margin-top: 20px;
  }
  