body{
    margin: 0;
    background-color: #006BFF;
}

.header{
    background-image: url(/extra-files/cat.jpg);
    background-size: contain;
}

.hihi{
    h1{
        color: white;
    }
}

#taskName{
    box-shadow: 0 4px 8px 5px #00bcfb ;
    cursor: text;
    
}


#addButton{
    background-color: #006BFF;   
    color: white;     
    cursor: pointer;
}

#addButton:hover{
        background-color: yellow;
    }




.body{
    padding: 2rem;
    border-radius: 20px;
    background-color: #f0f0f0; 
    overflow: hidden;      
}

#taskList{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.task-number{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #08C2FF;
    font-weight: bold;
    display: flex;
   
}

.task:hover{
    .card{
        background-color: #FFF100;
    }
}


.content{
    display: flex;
    gap: 20px;
}

input[type="checkbox"] {
    flex: 1;
    cursor: pointer;
    accent-color: #0091ff;
}

.card{
    flex: 13;
    box-shadow: 0 4px 8px 5px #00bcfb;
    cursor: pointer;
}

.delete, .edit{
    flex: 1;
    background-color: #00bcfb;
    color: white;
    font-weight: bold;
    border: 3px solid yellow;
}

.delete:hover, .edit:hover{
    background-color: #006BFF;
    color: white;
}