*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

/* INFO */
.gender-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .radio-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px; 
  }
  
  .radio-group div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  input[type="radio"] {
    margin: 0; 
    vertical-align: middle; 
  }
  
  .gender-label {
    margin-left: 10px; 
  }
  
/* CONTACT */

.contact-form, 
.optional-form,
.info-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
 
}

.contact-form label,
.optional-form label,
.info-form label {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}

.contact-form input, 
.contact-form select,
.optional-form input,
.optional-form textarea,
.human-input-group input[type="text"],
.info-form input{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.contact-form input, .info-form input{
    width: 60%;
}

.contact-form select{
    width: 20%;
}

.contact-form input, 
.human-input-group input[type="text"],
.info-form input{
    border-top: 2px solid #444444; 
}



/* Optional */
.note-field,
.preferShift,
.active-field,
.human {
    display: flex;
    margin-bottom: 5px;
}

.note-field textarea {
    width: 60%;
    height: 100px;
}

.active-field input[type="checkbox"] {
    flex: 0 0 auto;
}

.shift-options {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shift-options label {
    font-weight: bold;
}

.human-input-group {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.human-input-group label {
    width:100%;
    display: inline-block;
   text-align: center;
    margin-bottom: 5px;  
}

/* Button */

.butts_navigate {
    display: flex;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 10px;
}

.butts_navigate a {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.butts_navigate .btn {
    padding: 8px 16px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.butts_navigate .btn[type="submit"] {
    background-color: #4caf50;
}

.butts_navigate .btn[type="button"] {
    background-color: #e44226;
}




